@import "../helps/color.scss";

.z3-content-bg-red {
  color: #ffffff;
  background-color: $color-red;
}

.z3-content-bg-orange {
  color: #ffffff;
  background-color: $color-orange;
}

.z3-content-bg-yellow {
  color: #333333;
  background-color: $color-yellow;
}

.z3-content-bg-olive {
  color: #ffffff;
  background-color: $color-olive;
}

.z3-content-bg-green {
  color: #ffffff;
  background-color: $color-green;
}

.z3-content-bg-cyan {
  color: #ffffff;
  background-color: $color-cyan;
}

.z3-content-bg-blue {
  color: #ffffff;
  background-color: $color-blue;
}

.z3-content-bg-purple {
  color: #ffffff;
  background-color: $color-purple;
}

.z3-content-bg-mauve {
  color: #ffffff;
  background-color: $color-mauve;
}

.z3-content-bg-pink {
  color: #ffffff;
  background-color: $color-pink;
}

.z3-content-bg-brown {
  color: #ffffff;
  background-color: $color-brown;
}

.z3-content-bg-grey {
  color: #ffffff;
  background-color: $color-grey;
}

.z3-content-bg-gray {
  color: #333333;
  background-color: $color-gray;
}

.z3-content-bg-black {
  color: #ffffff;
  background-color: $color-black;
}

.z3-content-bg-white {
  color: #666666 !important;
  background-color: $color-white;
}

.z3-content-bg-none {
  color: #666666 !important;
  background-color: $color-none;
}
